*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}   
.main_container{
    width: 100%;
    min-height: 100vh;
    background: url("bg3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.small-icon1{
    width: 25px;
    position: absolute;
    right: 330px;
    top: 60px;
    opacity: 0.5;
}
.small-icon2{
    width: 25px;
    position: absolute;
    right: 120px;
    top: 450px;
    opacity: 0.5;
}
.small-icon3{
    width: 25px;
    position: absolute;
    right: 50px;
    top: 160px;
    opacity: 0.7;
    transform: rotate(45deg);
}
.Todo{
    align-items: center;
    text-align: center;
    position: fixed;
    top: 180px;
    left: 15rem;
    
}
.icon-todo{
    height: 8rem;
}
.Notes{
    align-items: center;
    text-align: center;
    position: fixed;
    top: 180px;
    left: 42rem;
}
.icon-notes{
    width: 140px;
    height: 8rem;
}
.Github-search{
    align-items: center;
    text-align: center;
    position: fixed;
    top: 170px;
    right: 18rem;
    left: 65rem;
}
.icon-github{
    height: 10rem;
}
.Relaxing-point{
    align-items: center;
    text-align: center;
    position: fixed;
    top: 430px;
    bottom: 180px;
    left: 15rem;
}
.icon-meditate{
    height: 9rem;
    width: 11rem;
}
.Expense-calculator{
    align-items: center;
    text-align: center;
    position: fixed;
    top: 430px;
    left: 40rem;
}
.icon-expense{
    height: 9rem;
    width: 14rem;
}
.typing{
    align-items: center;
    text-align: center;
    position: fixed;
    top: 420px;
    right: 18rem;
    left: 65rem;
}
.icon-type{
    height: 10rem;
    width: 9rem;
}